html {
    margin: 0;
    padding: 0;
}

header, footer, hgroup,
nav, section {
    display: block;
}

body {
    background: #fff url(../Images/bkg.png) repeat-x top left;
    color: #696969;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: .75em;
    margin: 0;
    padding: 0; 
}

a.link {
    color: #3b3420;
    text-decoration: none;
}

a:visited {
    color: #3b3420;
    text-decoration: none;
}

a:hover {
    color: #a52f09;
    text-decoration: none;
}

a:active {
    color: #a52f09;
}

input[type=submit] {
    background-color: #a52f09;
    border: 1px solid #712107;
    color: #fdfcf7;
    cursor: pointer;

    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 1px 2px 5px #b4b4b4;
    -webkit-box-shadow: 1px 2px 4px rgba(136, 136, 136, 0.6);
    -moz-box-shadow: 1px 2px 5px #b4b4b4;
}


